<div class='chat-header'>
  <span class="col-md-10 pull-left">
    <h3>
      {{#link-to 'conversations.conversation'}}
        Conversation {{conversation.code}}
      {{/link-to}}
    </h3>
  </span>  
  <span class="col-md-1 pull-right">
    <h3>
    {{#rl-dropdown-container class="dropdown"}}
      {{#rl-dropdown-toggle class="btn btn-default"}}
        {{fa-icon 'chevron-down'}}
      {{/rl-dropdown-toggle}}
      {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a:link"}}
        <li>{{link-to 'Edit' 'conversations.conversation.edit' conversation}}</li>
        <li>{{link-to 'Invite' 'conversations.conversation.invite-user' conversation}}</li>
      {{/rl-dropdown}}
    {{/rl-dropdown-container}}
    </h3>
  </span>
</div>
{{yield}}
