<div class="chatscreen">
  <div class="chatscreen-messages">
  {{#paper-card class="thread"}}
    {{#paper-card-content}}
      {{#paper-list class="conversation"}}
        {{#each model.messages as |message|}}
          {{#if (eq message.user.id sessionUser.user.id) }}
            {{chat.chat-bubbles.self message=message currentUser=sessionUser.user }}
          {{else}}
            {{chat.chat-bubbles.other message=message currentUser=sessionUser.user }}
          {{/if}}
          {{else}}
            {{chat.no-messages}}
        {{/each}}
      {{/paper-list}}
    {{/paper-card-content}}
  {{/paper-card}}
  {{#paper-card class="new-message"}}
    {{chat.new-message conversation_id=model.convo_id}}
  {{/paper-card}}
  </div>
</div>
{{outlet}}
