{{#paper-content class="md-padding"}}
  <h3 class='login-register-header'>Login or {{link-to 'Sign Up' 'register-user'}}</h3>
  <form {{action 'login' identification password on='submit'}}>
    {{paper-input label="Email" type="email" value=identification icon="email" icon-class="person" required=true}}
    {{paper-input placeholder="Password" type="password" value=password icon="lock"}}
    {{#paper-button raised=true action="login"}}
      Login
    {{/paper-button}}
  </form>
{{/paper-content}}
{{outlet}}
