<div class='container'>
<h2>Parenting Groups</h2>

 {{#paper-button raised=true primary=true action="save" iconButton=true}} {{paper-icon "library add"}} New Group{{/paper-button}}
</div>
<br>
{{paper-divider}}
<br>
{{#each model.user.parentingGroups as |group|}}
  <div class="home-card">
  {{#paper-card}}
    {{#paper-card-title}}
      {{#paper-card-title-text}}
        {{#link-to 'parenting-group' group}}
          <h2>Group {{group.id}}</h2>
        {{/link-to}}
        {{paper-divider}}
        <ul>
          {{#each group.users as |user| }}
            <li>{{user.firstName}} {{user.lastName}}</li>
          {{/each}}
        </ul>
        <p>The titles of Washed Out's breakthrough song and the first single from Paracosm share the...</p>
      {{/paper-card-title-text}}
      {{#paper-card-title-media}}
        <img class="md-media-lg" src="">
      {{/paper-card-title-media}}
    {{/paper-card-title}}
    <div class="md-actions" layout="row" layout-align="end center">
      {{#link-to 'parenting-group.new-invite' group}}
        {{#paper-button}}Invite{{/paper-button}}
      {{/link-to}}
      {{#link-to 'parenting-group.new-invite' group}}
        {{#paper-button}}View{{/paper-button}}
      {{/link-to}}
    </div>
  {{/paper-card}}
  </div>
{{/each}}
{{outlet}}
