{{#paper-content class="md-padding"}}
  {{#paper-card}}
    {{#paper-card-title}}
      {{#paper-card-title-text}}
        <h3 class='login-register-header'>Login or {{link-to 'Sign Up' 'auth.register'}}</h3>
      {{/paper-card-title-text}}
    {{/paper-card-title}}
    {{#paper-card-content}}
      <form {{action 'doLogin' identification password on='submit'}}>
      {{paper-input label="Email" type="email" value=identification icon="email" icon-class="person" required=true}}
      {{paper-input placeholder="Password" type="password" value=password icon="lock"}}
      {{#paper-button raised=true}}
        Login
      {{/paper-button}}
      </form>
    {{/paper-card-content}}
  {{/paper-card}}
{{/paper-content}}
{{outlet}}
