<div class='form-group'>
    {{textarea value=model.newMessage.body insert-newline='sendMessageOnEnter' class='form-control' rows='4' id='message-text' placeholder='Write your message..'}}
  </div>
  <button class='btn btn-primary send-btn'{{action 'sendMessage' model.newMessage}} disabled={{isDisabled}}>{{fa-icon 'paper-plane'}}   Send</button>
{{outlet}}
