  {{#paper-card class="convo-menu"}}
  {{#paper-list}}
    {{#each conversations as |convo|}}
      {{#paper-item class="md-3-line" action=(action "goToConvo" convo)}}
      <div class="md-list-item-text">
        <h3>
          {{#each convo.users as |user|}}
             {{#unless (eq user.id sessionUser.user.id)}}
                {{user.firstName}}
             {{/unless}}
           {{/each}}
         </h3>
          <p>
            {{truncate-text convo.messages.firstObject.body limit=15}}
          </p>
        </div>
      {{/paper-item}}
      {{paper-divider}}
    {{/each}}
    {{#paper-item class="md-3-line"}}
      {{#link-to 'app.parenting-group.conversations.new'}}
        <h3>{{paper-icon 'library-add'}}New Conversation</h3>
      {{/link-to}}
    {{/paper-item}}
  {{/paper-list}}
{{/paper-card}}
{{yield}}
