{{!-- {{pgUserConversations}} --}}
{{pg}}
{{#paper-card class="convo-menu"}}
  {{#paper-list}}
    {{#paper-item class="md-3-line" action=(action "goToNewConvo")}}
      <h4>New Conversation</h4>
      <div layout='flex' class="md-list-item-text new-convo-li">
          {{#paper-button raised='true' class="new-convo-btn" icon-button=true action=(action "goToNewConvo")}}
            {{paper-icon "add-box"}}
          {{/paper-button}}
      </div>
    {{/paper-item}}
    {{paper-divider}}
    {{#each pgUserConversations as |convo|}}
      {{#paper-item class="md-3-line" action=(action "goToConvo" convo)}}
      <div class="md-list-item-text">
        <h3>
          {{#each convo.users as |user|}}
             {{#unless (eq user.id sessionUser.user.id)}}
                {{user.firstName}}
             {{/unless}}
           {{/each}}
         </h3>
          <p>
            {{truncate-text convo.messages.firstObject.body limit=15}}
          </p>
        </div>
      {{/paper-item}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
{{/paper-card}}
{{yield}}
