<div layout='flex' class='md-padding'>
  <div flex=1>
    <h2>Parenting Groups</h2>
  </div>
  <div>
    {{#paper-button raised=true primary=true action="save" iconButton=true class='new-pg'}} {{paper-icon "library add"}} New Group{{/paper-button}}
  </div>
</div>
<br>
{{paper-divider}}
<br>
{{#each model.user.parentingGroups as |group|}}
  <div class="home-card">
  {{#paper-card}}
  {{#paper-toolbar class='pg-header'}}
    {{#paper-button action='goToPg' param=group}}<h2>Group {{group.id}}</h2>{{/paper-button}}
  {{/paper-toolbar}}
    {{#paper-card-title class="card-body"}}
      {{#paper-card-title-text}}
        <ul>
          {{#each group.users as |user| }}
            <li id="member">{{user.firstName}} {{user.lastName}}</li>
          {{/each}}
        </ul>
      {{/paper-card-title-text}}
    {{/paper-card-title}}
    <div class="md-actions" layout="row" layout-align="end center">
        {{#paper-button action='goToPgInvite' param=group}}Invite{{/paper-button}}
        {{#paper-button action='goToPg' param=group}}View{{/paper-button}}
    </div>
  {{/paper-card}}
  </div>
{{/each}}
{{outlet}}
