<div class='col-md-6 col-md-offset-1'>
<h2>Signup</h2>
  {{model.parentingGroup.id}}
    <form>
      <div class='form-group'>
        <label class='sr-only'>First Name</label>
        {{input value=model.user.firstName class='form-control' placeholder='First Name'}}
      </div>
      <div class='form-group'>
        <label class='sr-only'>Last Name</label>
        {{input value=model.user.lastName class='form-control' placeholder='Last Name'}}
      </div>
      <div class='form-group'>
        <label class='sr-only'>Email</label>
        {{input value=model.user.email class='form-control' placeholder='Email'}}
      </div>
      <div class='form-group'>
        <label class='sr-only'>Password</label>
        {{input type='password' value=model.user.password class='form-control' placeholder='Password'}}
      </div>
      <div class='form-group'>
        <label class='sr-only'>Persona</label>
        {{input value=model.user.persona class='form-control' placeholder='Persona'}}
      </div>
      <button {{ action 'save' model.user}} class='btn btn-primary btn-lg btn-block'> Register </button>
    </form>
</div>

{{outlet}}
