<h3> Edit Conversation </h3>
<div class='input-group'>
  <label>Conversation Code</label>
  {{input value=model.code}}
</div>
<div class='input-group'>
  <label>Password</label>
  {{input value=model.password}}
</div>

<button {{action 'save'}}>Update Conversation</button>
{{outlet}}

{{outlet}}
