<div class='chat-header'>
  <span class="col-md-10 pull-left">
    <h3>
      {{#link-to 'parenting-group.conversation.messages'}}
        Conversation {{conversation.id}}
      {{/link-to}}
    </h3>
  </span>
  {{#if isAddingUsersToThread}}
    {{autocomplete-input conversation=conversation key="firstName" model="user"}}
  {{/if}}
  <span class="col-md-1 pull-right">
    <h3>
    {{#rl-dropdown-container class="dropdown"}}
      {{#rl-dropdown-toggle class="btn btn-default"}}
        {{fa-icon 'chevron-down'}}
      {{/rl-dropdown-toggle}}
      {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a:link"}}
        <li><a {{action 'toggleIsAddingUsersToThread'}} href='#'>Add user</a></li>
      {{/rl-dropdown}}
    {{/rl-dropdown-container}}
    </h3>
  </span>
</div>
{{yield}}
