{{#paper-item class="md-3-line self"}}
  <div class='message'>
    <div class="md-list-item-text">
      <h3>{{message.body}}</h3>
      <p>
        <time datetime='{{message.createdAt}}'>{{message.user.firstName}} • {{moment-from-now message.createdAt interval=1000}}</time>
      </p>
    </div>
  </div>
    {{user-avatar user=currentUser size="md"}}
{{/paper-item}}
