<div class="autocomplete-input">
    {{input type="text" key-up="keyUp"}}
    {{#each foundItems as |user|}}
      <button {{action 'addUserToThread' user conversation}} >
        <span class="found-item">{{output-value user key}}</span>
      </button>
    {{else}}
      {{#each conversation.users as |user|}}
        <button {{action 'addUserToThread' user conversation}}>
          <span class="selected-item">{{output-value user key}}</span>
        </button>
      {{/each}}
    {{/each}}
</div>
{{yield}}
