{{#paper-content class="md-padding"}}
  {{#paper-card class="primary-auth-card"}}
    {{#paper-card-title}}
      {{#paper-card-title-text}}
        <img id="logo" src="assets/images/logo.png">
        <h3 class="login-register-header">Register for TwoHomes</h3>
      {{/paper-card-title-text}}
    {{/paper-card-title}}
  {{#paper-card-content}}
    {{paper-input label="First Name" value=model.firstName icon="person" icon-class="name"}}
    {{paper-input label="Last Name" value=model.lastName icon="person" icon-class="name"}}
    {{paper-input label="Email" type="email" value=model.email icon="email" icon-class="email" required=true}}
    {{paper-input placeholder="Password" type="password" value=model.password icon="lock"}}
    {{#paper-select placeholder="Persona" model=model.persona}}
        {{#paper-option value="user"}}
          User
        {{/paper-option}}
        {{#paper-option value="moderator"}}
          Moderator
        {{/paper-option}}
    {{/paper-select}}
    {{#paper-button raised=true primary=true action="doRegister"}}Register{{/paper-button}}
    {{/paper-card-content}}
  {{/paper-card}}
  {{#paper-card class="secondary-auth-card"}}
    {{#paper-card-content}}
      Already have an account? {{link-to 'Login here' 'auth.login'}}.
    {{/paper-card-content}}
  {{/paper-card}}
{{/paper-content}}

{{outlet}}
