{{app-navbar}}
<div class='container'>
{{#link-to 'application'}}
  <h2 id="title">TwoHomes</h2>
{{/link-to}}

<div class='authentication-navigation'>
  {{link-to 'Register User' 'register-user'}}
  {{#if session.isAuthenticated}}
    Welcome {{sessionUser.user.firstName}}
  {{/if}}
  {{#if session.isAuthenticated}}
    <button {{action 'logout'}}> Logout</button>
  {{else}}
    {{link-to 'Login' 'login'}}
  {{/if}}
</div>

{{outlet}}
</div>
